.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}
.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #5a1a01;
  padding: 1rem 0;
}
.cart-items-details{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5rem;
}
.cart-items-price{
  color: #5a1a01;
  font-weight: 700;
}
.quantity{
  border: 1px solid rgba(128, 128, 128, 0.253);
  border-radius: 0.2rem;
  padding: 0 0.7rem 0.4rem 0.5rem;
  width: fit-content;
}
.minus{
  margin-right: 0.3rem;
  background-color: white;
  color: #5a1a01;
  border: 1px solid #5a1a01;
}
.minus:hover{
color: white;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .close{
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}
